.container img {
    margin: 20vh 0 0 10vw;
    width: 15vw;
    border-radius: 20px 20px 0 0;
}

.singleshow__info {
    display: flex;
    position: absolute;
    top: 20vh;
    left: 30vw;
    flex-direction: column;
    color: white;
    width: 60vw;
    height: auto;
}

.showName {
    font-size: 5vh;
}

.head {
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
}

.head > * {
    align-self: flex-end;
}

.head p {
    margin-left: 1vw
}

;.singleshow__genre p {
    padding: 0.5vh;
    border-radius: 3px;
    color: #262626;
    background-color: #60c689;
    margin: 2vh 1vw 0 0;
    font-weight: 800;
}

.singleshow__genre  { 
    display: flex;
    flex-direction: row;
}



.singleshow__genre .rating {
    background-color: gold;
}

hr {
   background-color: white;
   margin: 2vh 0 0 0;
    width: 60vw;
    height: 0.5vh;
}

.desc {
    width: 50vw;
    margin: 5vh 0 0 0;
    font-weight: 600;
    font-size: 1.75vh;
}

.whole {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.whole h2 {
    align-self: flex-end;
}

.second {
    display: flex;
    justify-content: space-between;
}

.second h2 {
    align-self: flex-end;
    font-size: 3vh;
    color: #60c689;
}

.imgDesc{
    display: flex;
    flex-direction: column;
}

.fullDesc {
    background-color: #262626;
    border-radius: 0 0 20px 20px;
    margin: 0 0 0 10vw;
    width: 15vw;
    height: 30vh;
}
