#searchbar {
  z-index: 11;
    color: rgba(255, 255, 255, 0.75);
    padding-left: 1vw;
    position: fixed;
    right: 5vh;
    width: 20vw;
    top: 2.5vh;
    height: 5vh;
    border-radius: 10px;
    background-color: #3a3b3c;
    border: none;
  }
    
    #navbar > * {
      z-index: 10;
      height: 10vh;
      width: 100vw;
      background-color: #242526 ;
      display: flex;
      position: fixed;
      top: 0;
    }
    
* {
  box-sizing: border-box;
}

.wrap {
  width: auto;
  margin: auto auto;
  padding: 2.5vh 0 0 2.5vw;
  position: relative;
  transform-style: preserve-3d;
  perspective: 400px;
  text-align: center;
}

.letter, .space {
  display: inline-block;
  font-size: 2.5vw;
  font-weight: bold;
  position: relative;
  transform-style: preserve-3d;
  text-shadow: 2px 2px 5px black;
}
.space {
  width: .5em;
}

@for $i from 1 through 13 {
  
  $n: 1;
  $r: random(10);
  @if($r > 5){
    $n: -1;
  }
  $x: (random(1000) + 300) * $n +px; 
  $y: (random(1000) + 300) * $n +px;
  $c: hsl(random(360), 100%, 50%);
  $d: 360 * $n +deg;
  @keyframes anim#{$i}{
    0% {
      transform: translate3d($x, $y, -1000px) rotate(0deg);
      opacity: 0;
    }
    100% {
      transform: translate3d(0,0,0) rotate($d);
      opacity: .8;
    }
  }
  .letter:nth-child(#{$i}){
    animation: anim#{$i} 5s;
    animation-delay: -$i * .2s;
    color: #60c689;
  }
}    
    
    .buttonSearch {
      position: fixed;
      top: 2.5vh;
      right: 3.5vw;
      border-radius: 0 10px 10px 0;
      background-color: white;
      height: 5vh;
    }
    