#searchbar {
  z-index: 11;
    color: rgba(255, 255, 255, 0.75);
    padding-left: 1vw;
    position: fixed;
    right: 5vh;
    width: 20vw;
    top: 2.5vh;
    height: 5vh;
    border-radius: 10px;
    background-color: #3a3b3c;
    border: none;
  }

  #navbar h2 {
    color: white;
    margin-left: 2.5vw;
    font-size: 3vh;
    align-self: center;
  }
    
    #navbar > * {
      z-index: 10;
      height: 10vh;
      width: 100vw;
      background-color: #242526 ;
      display: flex;
      position: fixed;
      top: 0;
    }
  
    
    .buttonSearch {
      position: fixed;
      top: 2.5vh;
      right: 3.5vw;
      border-radius: 0 10px 10px 0;
      background-color: white;
      height: 5vh;
    }
    