
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #3a3b3c;
}

#searchbar {
  color: rgba(255, 255, 255, 0.75);
  padding-left: 1vw;
  position: fixed;
  right: 5vh;
  width: 20vw;
  top: 2.5vh;
  height: 5vh;
  border-radius: 10px;
  background-color: #3a3b3c;
  border: none;
}

#searchbtn img{
position: fixed;
 background-color: none;
 border: none;
 top: 3.5vh;
 right: 6vh;
 height: 3vh;
}


#searchbtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: fixed;
  top: 2.5vh;
  right: 5vh;
  height: 5vh;
}

#navbar {
  height: 10vh;
  width: 100vw;
  background-color: #242526 ;
  display: flex;
}

#navbar > img {
  align-self: center;
  margin-left: 2vw;
  width: 3vw;
}

#navbar h1 {
  color: white;
  align-self: center;
  margin-left: 1vw;
  font-size: 3vh;
}

#channel {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  margin:  5vh 0 0 10vw;
  height: 75vh;
}

#channelbox {
 background-color: #18191a;
 width: 25vw;
 border-radius: 20px;
}

#channelimg {
  width: 7.5vw;
  margin: 2.5vh 0 0 8.75vw;
 }

 #coverimg {
   width: 24vw;
   margin: 4vh 0.5vw 0 0.5vw;
   border-radius: 10px 10px 0 0;
 }

 #info {
   background-color: white;
   margin: 0 0.5vw 0 0.5vw;
   width: 24vw;
   height: 10vh;
   border-radius: 0 0 10px 10px;
 }

 #info h2 {
   padding: 2vh 0 0 1vw;
   font-size: 1.5vh;
   font-weight: 900;
   color: #563196;
 }

 #info h1{
   padding-left: 1vw;
   font-size: 2vh;
}

#underline {
  height: 0.75vh;
  margin: 1.5vh 0 0 1vw;
  width: 10vw;
  background-color: #563196;
  border-radius: 10px;
}

#subprogram {
  height: 10vh;
  width: 24vw;
  background-color: #242526;
  margin: 1vh 0.5vw 0 0.5vw;
  border-radius: 10px;
}

#subprogram h1 {
  color: rgba(255, 255, 255);
  padding-left: 1vw;
   font-size: 1.5vh;
}

#subprogram h2 {
  padding: 2vh 0 0 1vw;
  font-size: 1.5vh;
  font-weight: 900;
  color: #e48100;
}